.App {
    width: 100%;
    margin: 0;
    font-family: monospace, Arial, sans-serif;
    padding: 0px;
}
body {
     background-color: #111111
}
.tabheader {
    display: flex;
    flex-direction: 'row'; 
    height: 65px;
    width: 50%;
    margin: 0 auto;
    background-color: #111111;
    padding-top: 50px;
    text-transform: uppercase;
}
.tabheader span {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}
.tabheader span:hover {
    background-color: #706b6b;
    border-radius: 10px;
}

.tabbody {
    height: 100vh;
    padding: 5px;
    border-radius: 2px;
    min-height: 100%;
   ; 
}

.list h2, .list p {
    text-align: center;
    color: white;
}
h2 {
    font-size: 3em;
}

.product {
    height: 200px;
}
.product img {
    max-width: 150px;
    max-height: 150px;
    width: 50%;
    height: 100%;
    float: left;
    
}
.product span {
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.5em;
    position: absolute;
    right: 20vw;
}
span.productName { color: #fff; } 
span.productPrice, span.productAmount {color: #fff;}
.productInfo {
    color: white;
    
}
.list {
    
    margin: auto;
    width: 70vw;
    height: 70vh;
    margin-top: 0.5em;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    background-color: #0f40bd;
    margin-top: 0.5em;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
}

.addBtn {
    background-color: #06a33f;
    color: white;
    margin: 0;
    line-height: normal;
    display: inline-block;
    overflow: visible;
    cursor: pointer;
    
}

.cart {
    border: 1px solid lightgray;
    width: 70vw;
    height: 70vh;
    margin: auto;
}
.cart h2, .cart h4 {
    color: white;
    font-size: 2em;
    text-align: center;
}
.cart th {color: white;}
.cart .checkoutBtn {
    padding: 4px;
    background-color: #06a33f;
}
.cart .btnDelete {
    padding: 4px;
    background-color: rgba(255, 0, 0, 0.694);
    float: right;
}
.cartNumber {
    color: white;
    font-size: 0.5em;
    margin-bottom: 4px;
}
.Form {
    width: 70vw;
    height: 70vh;
    margin: auto;
    border: 1px solid lightgray;
    margin-top: 10px;
}
.Form h4 {
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.Form .btnDelete {
    background-color: red;
}
.Form input {
    padding: 6px;
    text-align: center;
    margin-left: 4px;
    
}
.Form button {
    padding: 6px;
    background-color: #06a33f;
    margin-left: 4px;
    color: white;
    
}
table {
    border: 1px solid white;
    width: 100%;
    border-spacing: 0;    
}
td, th {
    padding: 6px;
    text-align: center;
    width: 20px;
    color: white;
}
td button {
    float: right;
    padding: 4px;
}
.Form h2 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.historyContainer {
    width: 70%;
    margin: 0 auto;
}

.historyContainer ul li {
    color: white;
    cursor: pointer;
}

.history-header {
    color: #fff;
}