.App {
    margin: 0;
    font-family: monospace, Arial, sans-serif;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 30px;
}

img {
    height: 100px;
    width: 100px;
}

.tabheader {
    background-color: #111111;
    padding-bottom: 20px;
    flex: 1;
    flex-direction: row;
}
.tabheader span {
    font-size: 20px;
    float: left;
    color: white;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
    padding: 10px
}

.tabheader span:hover {
    background-color: #706b6b;
}

.tabbody {
    flex: 2;
    padding: 5px;
    border-radius: 2px;
    min-height: 100%;
    
}

.list h2, .list p {
    text-align: center;
    color: white;
}
h2 {
    font-size: 3em;
}

.product {
    height: 200px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.product img {
    margin-left: 5px;
}

.product span {
    font-weight: bold;
}

.productListInfo {
    display: flex;
    flex-direction: column
}

.productInfo {
    color: white;
    position: absolute;
}
.list, .cart { 
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-top: 0.5em;
    border: 1px solid lightgray;
    background-color: darkgrey;
    padding: 10px;
}

.list ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}


.addBtn {
    padding: 8px;
    font-size: 20px;    
    background-color: #06a33f;
}

.cart h2, .cart h4 {
    color: white;
    font-size: 1em;
    text-align: center;
}
.cart th {color: white;}
.cart .checkoutBtn {
    padding: 8px;
    font-size: 20px;    
    background-color: #06a33f;
}

.cart .checkoutBtn:hover , .addBtn:hover {
    cursor: pointer;
    color: white;
}

.cart .btnDelete:hover, .Form .btnDelete  {
    cursor: pointer;
    color: black;
}

.cart .btnDelete {
    padding: 4px;
    background-color: red;
    float: right;
}
.cartNumber {
    color: white; 
    font-size: 18px;
    display: inline-block;
}
.Form {
    width: 70vw;
    height: 70vh;
    margin: auto;
    border: 1px solid lightgray;
    margin-top: 10px;
}
.Form h4 {
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.Form .btnDelete {
    background-color: red;
}
.Form input {
    padding: 6px;
    text-align: center;
    margin-left: 4px;
    
}
.Form button {
    padding: 6px;
    background-color: #06a33f;
    margin-left: 4px;
    color: white;
    
}
table {
    border: 1px solid white;
    width: 100%;
    border-spacing: 0;    
}
td, th {
    padding: 6px;
    text-align: center;
    width: 20px;
}
td button {
    float: right;
    padding: 4px;
}
.Form h2 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.modal-content {
   text-align: center;
   position: relative;
   top: 50px;   
}


@media screen and (max-width: 600px) {

    .product {
        margin-bottom: 50px;
    }
    .list {
        width: 100%;
    }

    .list ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addBtn {
        padding: 4px;   
        font-size: 16px;
    }

    .tabheader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


}
